/* Google Fonts
font-family: 'Bebas Neue', cursive;
font-family: 'Pontano Sans', sans-serif; 
*/

/* Color pallette 
#3A454F
#BF8598
#DAA5AD;


/* HTML Elements */
html,body{
    overflow-x: hidden;
}

p {
    padding: 10% 50%;
}

/* Navbar */

.navbar {
    margin: 0;
    background-color: #fff;
    padding-top: 1rem;
    overflow: hidden;
    transition: .5s;
    transition-timing-function: ease-in;
}

.nav-link {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.25em;
    color: #3A454F;
}

.nav-link:hover {
    text-decoration: none;
    color: #3A454F;
}

.navbar-brand img {
    width: 40rem;
    padding-left: 10%;
    transition: width .8s;
}

.container-fluid {
    padding: 0% 4% 7%;
}

.container-fluid .btn {
    margin: 0 5% 0 2% ;
    background-color: #DAA5AD;
    color: #fff;
    font-family: 'Pontano Sans';
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    padding: 1% 2%;
    transition: all .5s ease;
}

.btn:hover {
    background-color: #BF8598;
    border: solid .1px black;
}

/* Hover animation */

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 67%;
    transform: scaleX(0);
    height: 2px;
    bottom: 9px;
    left: 15px;
    background-color: #DAA5AD;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*Landing Image */

.landing-image {
    position: relative; 
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    background-color: black;
    background-attachment: fixed;
}

.landing-image::before {
    content: "";
    background-image: url("/photos/empower-room.JPG");
    background-position: center center;
    background-size: cover;
    position: absolute;
    opacity: .5;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.landing-button {
    position: absolute;
    bottom: 33%;
    background-color: #DAA5AD;;
    color: #fff;
    font-family: 'Pontano Sans';
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all .5s ease;
    margin: auto;
}

.mission-statement {
    position: relative;
    padding: 0 8%;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: .4rem;
    color: #fff;
    -webkit-text-stroke-width: .75px;
    font-size: 5rem;
    text-align: center;
}



@media (min-width: 500px) and (max-width: 1200px) {
    .navbar-brand {
        width: 19rem;  
        padding-left: 5%;
    }
    
}

@media (min-width: 416px) and (max-width: 821px) {
    #tablet-hide {
        display:none;
    }

    .mission-statement {
        padding: 25% 10%;
        font-size: 3rem;
    }
}

@media (max-width: 415px) {
    .navbar-brand {
        margin: auto;
    }

    #empower-logo {
        width: 17rem;
        padding-right: 4%;
    }

    .mission-statement {
        padding: 20% 10%;
        font-size: 3rem;
    }

    #mobile-hide {
        display: none;
    }
}